.carousel-item {
  height: 100px; 
  text-align: center;
}

.list-group {
  width: 100%; 
  max-width: 300px;
  margin-top: 20px;
  padding-left: 0; 
  margin-left: 0; 
}

h1 {
  text-align: center;
}

.col-sm-9 {
  text-align: justify;
  padding: 1rem;
}

.col-md-9 .row.mb-3 {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
}

.text {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.col-md-3 {
  width: 280px;
  text-align: center;
}

.col-md-3 .list-group-item {
  height: 50px;
}

/*SM*/
@media (max-width: 575.98px) {
  #content {
    flex-direction: column; 
  }
}

/* MS*/
@media (min-width: 576px) and (max-width: 991.98px) {
  #content {
    display: flex;
    flex-wrap: wrap;
  }

  .list-group {
    width: 200px; 
  }
}

/* LG*/
@media (min-width: 992px) {
  #content {
    display: flex;
    flex-wrap: nowrap; 
  }

  .col-md-3 {
    padding-left: 0px;
  }

  #options {
  padding-left: 0;
  margin-left: 0; 
}

}


/* .col-sm-9 .row {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
} */
 
/* main p {
  text-align: justify;
  text-justify: inter-word;
  column-count: 1; /* Por defecto, una columna para SM */


/* @media (min-width: 768px) {
  main p {
      column-count: 2; /* Dos columnas(MD) */
  

/*   .text {
    text-align: justify;
    text-justify: inter-word;
    column-count: 3;
    background-color: #f8f9fa;
  } */

/*   #options {
    display: none;
  } */

/*   .container .col-md-3 {
    background-color: #f8f9fa;
    text-align: justify;
    text-justify: inter-word;
  } */

/*   #options ul.list-group .list-group-item {
    text-align: left;
    padding-left: 20px;
  } */

/*   main p {
    text-align: justify;
    text-justify: inter-word;
    column-count: 3;
  } */
